# Temporary files
*~
\#*#

# Java class files
*.class

# Gradle files
.gradle/
build/

# IntelliJ
*.iml
.idea/

# OSX files
.DS_Store

# Windows files
Thumbs.db

# Input/Output directory
bblfr_input
bblfr_output
